.loading {
	height: 100vh;
	width: 100%;
	background-color: rgba(255, 127, 80, 0.637);
	display: flex;
	justify-content: center;
	align-items: center;
}
.loader {
	height: 40px;
	width: 40px;
	border-radius: 50%;
	border: 5px solid #000;
	border-left: 5px solid transparent;
	animation: rotate 4s forwards infinite linear;
}
@keyframes rotate {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
