.card {
	max-width: 680px;
	height: 180px;
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0 3px 7px #00000018;
	padding: 10px;
	margin: 10px;
	display: flex;
	flex-wrap: wrap;
	overflow-y: auto;
	position: relative;
}
.card_title {
	color: #a3a3a3;
	font-weight: 500;
	height: fit-content;
	width: 100%;
	text-align: right;
}

.card_body {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	justify-content: space-between;
	.winner_img {
		height: 20px;
		margin: 0 5px;
		border: 0;
	}
	.team_home {
		display: flex;
		flex: 1;
		flex-direction: column;
		align-items: flex-start;
		.team_img {
			margin-bottom: 7px;
			border: 1px solid rgba(148, 148, 148, 0.397);
		}
		a {
			text-align: left;
			text-decoration: none;
			color: #4b4949;
			font-weight: 600;
			transition: all 0.3s ease-in-out;
			&:hover {
				color: #ed1a33;
			}
		}
		p {
			font-size: 21px;
			font-weight: 700;
		}
	}
	.team_away {
		display: flex;
		flex: 1;
		flex-direction: column;
		align-items: flex-end;
		.team_img {
			margin-bottom: 7px;
			border: 1px solid rgba(148, 148, 148, 0.397);
		}
		a {
			text-decoration: none;
			color: #4b4949;
			text-align: right;
			font-weight: 600;
			transition: all 0.3s ease-in-out;
			&:hover {
				color: #ed1a33;
			}
		}
		p {
			font-size: 21px;
			font-weight: 700;
		}
	}
	.score_table {
		display: flex;
		justify-content: center;
		flex-direction: column;
		font-weight: 500;
		color: #a3a3a3;
		.table_title {
			color: #a3a3a3;
			font-size: 14px;
			font-weight: 500;
			width: 100%;
			text-align: center;
		}
		table {
			border-collapse: collapse;
			font-size: 12px;
			line-height: 15px;
			thead {
				tr {
					th {
						border-bottom: 1px solid #e5e5e5;
					}
				}
			}
		}
		th,
		td {
			margin: 0;
			padding: 4px 10px;
			text-align: center;
			border: 0;
		}
	}
}
.dark_color {
	color: #313131;
}

@media (max-width: 680px) {
	.card_body {
		flex-direction: column;
	}
	.team_home {
		margin: 10px;
		align-items: center;
	}
	.team_away {
		margin: 10px;
		align-items: center;
	}
}
