.card_container {
	margin-top: 10px;
	height: 90vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.language {
	height: 40px;
	padding: 10px;
	border: 0;
	border-radius: 10px;
	box-shadow: 0 3px 7px #00000018;
	cursor: pointer;
	position: fixed;
	bottom: 20px;
	right: 20px;
}
