@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Muli:700,800,900,900i&display=swap');

* {
	margin: 0;
	padding: 0;
}
::selection {
	color: #fff;
	background: #ed1a33;
}
body {
	font-family: 'IBM Plex Sans', sans-serif;
	background: #f4f4f5;
	font-size: 16px;
	line-height: 26px;
	color: #4e4d4d;
	overflow-y: scroll;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@media (max-width: 680px) {
	body {
		font-size: 15px;
		line-height: 24px;
	}
}
